Repository cea-hpc/clustershell, pull requests merged in 2022-06, with the labels that each got.

#472 tree mode: fix error with intermediate gateways (#471)
  lib/ClusterShell/Task.py
  lib/ClusterShell/Worker/Tree.py
Labels: Lib/Tree

#469 slurm.conf.example: Filter out more Slurm node state flags
  conf/groups.conf.d/slurm.conf.example
Labels: Lib/NodeSet

#468 NodeSet: add special notation @@source to expand group names
  doc/man/man1/cluset.1
  doc/man/man1/nodeset.1
  doc/sphinx/tools/nodeset.rst
  doc/txt/cluset.txt
  doc/txt/nodeset.txt
  lib/ClusterShell/NodeSet.py
  tests/NodeSetGroupTest.py
Labels: Lib/NodeSet

#474 tests: test task_wait() when workers have not started (#110)
  tests/TaskThreadJoinTest.py
Labels: Tests
