Repository cea-hpc/clustershell, pull requests merged in 2023-09, with the labels that each got.

#523 Use python3 if python is not installed
  mkrpm.sh
Labels: Packaging

#536 Topology: check that node groups/wildcards are non-empty (#527)
  doc/sphinx/tools/clush.rst
  doc/sphinx/tools/nodeset.rst
  lib/ClusterShell/Topology.py
  tests/TreeTopologyTest.py
Labels: Lib/Tree

#537 CLI: fix line buffering with Python 3 (#528)
  lib/ClusterShell/CLI/Clubak.py
  lib/ClusterShell/CLI/Display.py
  tests/CLIClubakTest.py
  tests/CLIDisplayTest.py
  tests/TLib.py
Labels: Scripts

#540 doc: add Makefile for rst2man
  doc/man/Makefile
  doc/man/man1/Makefile
  doc/man/man5/Makefile
Labels: Doc
