Repository cea-hpc/clustershell, pull requests merged in 2025-08, with the labels that each got.

#577 doc/txt: fix clustershell.rst for pypi
  doc/txt/clustershell.rst
Labels: Packaging

#545 Bug fix:WorkTree Function Exception --rcopy
  lib/ClusterShell/Worker/Tree.py
Labels: Lib/Tree

#588 Improve rcopy tree tests
  .github/workflows/nosetests.yml
  MANIFEST.in
  tests/TreeWorkerTest.py
  tests/bin/hostname
Labels: Tests

#591 EngineClient: properly handle abort flag on close
  lib/ClusterShell/Worker/EngineClient.py
  tests/StreamWorkerTest.py
Labels: Lib/Engine, Lib/Worker

#592 Tree: implement TreeWorker.abort() (#229)
  lib/ClusterShell/Communication.py
  lib/ClusterShell/Propagation.py
  lib/ClusterShell/Worker/Tree.py
  tests/TreeWorkerTest.py
Labels: Lib/Tree

#595 Clush: handle _ev_routing reroute events
  lib/ClusterShell/CLI/Clush.py
Labels: Scripts
